<article id= "home" >
  
    <h1>Flowering Plants</h1>

  

  <section  class="taxon">

    <h2>Box, <em>Buxus sempervirens</em></h2>

    <p>
      It is an evergreen shrub or small tree that is considered
      native in only a few places in the British Isles,
      though it has also been widely planted. The steep chalky slopes around Box Hill
      and Norbury Park support some of the best
      populations in this country. Box usually grows with yew and this combination,
      so relatively abundant in Mole Valley, is one of the
      reasons for classifying part of the area as an SAC. Box has small yellow-green
      flowers that open in early spring and these are followed by hard,
      curiously-shaped fruits.
    </p>
  </section>

  <section class="taxon">
    <h2>Wild Service Tree <em>Sorbus torminalis</em></h2>

    <p>
      This is one of our most beautiful native trees. It has cream
      flowers and attractive leaves that turn crimson in autumn. It is a relative of
      the rowan and whitebeam but it fruits are a dull brown, rather than the bright
      red of its more familiar cousins. It can be found in many old woods in Mole Valley
      on the weald clay. An alternative name is the Chequers Tree.</p>
  </section>

  <section class="taxon">
    <h2>Green Hound’s-tongue <em>Cynoglossum germanicum</em></h2>

    <p>
      It is a very rare plant in Britain but Mole
      Valley is one of its strongholds. It is
      now classified as critically endangered nationally. This plant is a biennial
      with a rosette of large glossy leaves and small inconspicuous flowers. It is usually
      found in woods on the chalk, where its numbers can vary considerably from one
      year to the next.
    </p>
  </section>

  <section class="taxon">
    <h2>Wood anemone <em>Anemone nemorosa</em></h2>

    <p>
      This lovely woodland flower is common throughout much of Mole Valley.
      It favours deciduous woodland but it can also be found on hedge banks and road
      verges. Its relatively large white flowers appear from March to May. Sheets of
      this in flower are an attractive sight, especially when they grow with
      primroses and bluebells.</p>
  </section>

  <section id="main", class="taxon">
    <h2>Man Orchid <em>Orchis anthropophora</em></h2>
    <%= image_tag "plants/man_orchid_close.jpg", :class => 'fungi',
                   :title => 'Close up of Man Orchid. Copyright: Paul Krause', :alt => "Man Orchid" %>

    <p>
      Some sixteen species of wild orchid can be found in Mole Valley;
      some in the clay woods and others on the chalk downs and woods. The Man Orchid
      is perhaps one of the most intriguing because the shape of its flower resembles
      that of a human body. It is considered nationally endangered, with Kent
      and Surrey now having the most important populations.
    </p>
  </section>
</article>