nav#main_nav{
	ul{
	 text-align: center;
	 border-style: solid;
	 border-color: rgb(255,128,0);
	 border-right-style:none;
	 border-left-style:none;
	 background-color: rgb(0,128,255);

	}

	li {

		display: inline-block;
		
		a{
			display: inline-block;
			color:#000000;
			text-decoration:none;
			width:120px;
			height:22px;
			text-align:center;

			background-color:rgb(40,180,80);
			font-size: 1em;

		}

		a:hover {

			background-color: rgb(59,236,59);
			color:#FFFFFF;
		}
	}
}