// Place all the styles related to the Organisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "site-branding";
@import "popout";

article#organisations {
	
	padding-left: 20px;
	
	section {
	@include popout;
	margin-left: 20px;
	margin-right: 50px;
	padding: 20px;
	background-color: #2EB82E;

	h1{
			color: $white;
			font-size: 20px;

		}

	}	

}

article#organisations section:nth-child(even) {

	background-color: #398F39;
}