<article id = "resources">

  <h1>Resources</h1>

  <section id="bird">

  <%= image_tag "birds/Kingfishers-mating-menu.jpg",:class => "birdsCentre", :title => 'Mating Kingfishers. Copyright: Jeremy Early', :alt => "Mating Kingfishers" %>
  
  <p>
    This page contains a number of downloads and links that will help you if you
    would like to find out
    more about Mole Valley and its natural history.
  </p>

  <p>
    Something with slightly broader coverage to start with. The <em>Surrey
    Wildlife Trust</em> has been producing a wonderful
    series of "Wildlife Atlases" over the last years. They have been extremely
    well received and provide valuable coverage
    of Surrey's wildlife. Being atlases, of course they contain distribution maps
    of the various species they cover. So they
    help enormously in finding out in detail what is present in Mole Valley.
    Buy them while you can. Follow this link to
    find out more about the
    <a href="http://www.surreywildlifetrust.co.uk/Default.asp?mainmenu=homepage&EntityID={EDE97F38-9621-4074-BB13-FEFBDC91987F}"
       target="_blank">
      Surrey Wildlife Atlases</a>.
  </p>

  <p>
    As with all things, you will learn about Mole Valley's wildlife most
    effectively if you walk the district in the company
    of an intelligent friend who knows the area well. If you can't find one, then
    <a href="http://www.field-studies-council.org/juniperhall/" target="_blank">
      Juniper Hall</a>,
    a local centre run by the
    Field Studies Council, has an excellent supply of intelligent friends. They
    offer weekend and week long courses on all
    sorts of aspects of natural history. They use Mole Valley, as well as other
    areas in Surrey, for their field work.
  </p>

  <p>
    Going back to books, the
    <a href="http://www.friendsofboxhill.org.uk/" target="_blank">Friends of Box Hill</a>
    publish a series of books provide a good local insight into
    this part of Mole Valley. These include
    The Box Hill Book of Bats, of Orchids, of Butterflies, of Box,
    of Archeology. More are in the pipeline.
    They are available from the National Trust Shop and Information
    Centre, Box Hill.
  </p>

  <p>
    Jeremy Early very kindly made a good number of his excellent wildlife
    photographs available for this site.
    If you would like to see more of his photographs, and find out a lot more about
    natural history, then do take
    a look at his website:
    <a href="http://www.natureconservationimaging.com/" target="_blank">Nature Conservation Imaging</a>.
  </p>

  </section>

</article>